section#connectSection {
  align-items: center;
  background-color: #eef5dc;
  border-bottom: 2px solid #040416;
  box-shadow: 0 0 12px #000000;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  padding: 12vh 0;
  z-index: 1;
}
@media (min-width: 760px) {
  section#connectSection {
    padding: 15vh 120px 25vh;
  }
}
@media (min-width: 1200px) {
  section#connectSection {
    flex-direction: row;
  }
}
section#connectSection h3 {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 6px;
  padding-bottom: 4vh;
  text-transform: uppercase;
}
@media (min-width: 760px) {
  section#connectSection h3 {
    font-size: 62px;
  }
}
@media (min-width: 1200px) {
  section#connectSection h3 {
    font-size: 58px;
    padding: 0 6vw 0 0;
  }
}
@media (min-width: 1500px) {
  section#connectSection h3 {
    font-size: 82px;
  }
}
section#connectSection > div {
  border-top: 2px solid black;
  padding: 3vh 25px;
  position: relative;
}
@media (min-width: 760px) {
  section#connectSection > div {
    padding: 1vh 0;
  }
}
@media (min-width: 1200px) {
  section#connectSection > div {
    border-top: none;
    border-left: 2px solid black;
    padding: 1vh 0 1vh 6vw;
  }
}
section#connectSection > div:after {
  content: '';
  background: url('../img/Axel.png') no-repeat;
  background-size: auto 100%;
  height: 150px;
  width: 275px;
  position: absolute;
  bottom: -11h;
  right: -1vw;
}
section#connectSection span {
  font-size: 22px;
  font-weight: 100;
  line-height: 1.5;
  padding-right: 30px;
}
@media (min-width: 760px) {
  section#connectSection span {
    line-height: 2.5;
  }
}
.new-line-span {
  display: block;
}
#connectList {
  display: inline-flex;
  flex-direction: row;
  font-size: 48px;
  list-style: none;
  padding-left: 0;
}
#connectList a {
  color: darkslateblue;
  margin-right: 40px;
  position: relative;
  top: 0;
}
#connectList a:hover,
#connectList a:focus,
#connectList a:active {
  color: #5440d9;
  top: -1px;
}
