#aboutMeSection {
  background: transparent url('../img/Pngtree-mountain-landscape_8807747.png') no-repeat;
  background-size: auto 70%;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 760px) {
  #aboutMeSection {
    align-items: flex-start;
  }
}
#aboutMeSection .section-content {
  justify-content: flex-end;
  z-index: 1;
}
#aboutMeSection:after {
  content: '';
  background: url('../img/wood.jpg') bottom;
  background-size: cover;
  filter: brightness(0.44) contrast(0.95);
  height: 30vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}
@media (min-width: 760px) {
  #aboutMeSection:after {
    height: 38vh;
  }
}
#lamp {
  display: none;
}
#book {
  height: 100vh;
  width: 100%;
  z-index: 2;
}
@media (min-width: 760px) {
  #book {
    background: none;
    height: 55vh;
    position: absolute;
    bottom: 14vh;
    left: 4vw;
    width: 600px;
  }
}
@media (min-width: 1200px) {
  #book {
    left: 6vw;
    width: 800px;
  }
}
@media (max-width: 760px) {
  #book:before {
    background: transparent url('../img/Pngtree-mountain-landscape_8807747.png') bottom right no-repeat;
    background-size: auto 100%;
    content: '';
    filter: hue-rotate(274deg);
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
#book:after {
  content: '';
  background: url('../img/Pngtree-book-open-clipart-7903102.png') center no-repeat;
  background-size: contain;
  height: 166%;
  width: 117%;
  position: absolute;
  top: -23vh;
  left: -6vw;
  transform: rotate(-9deg) skewY(-6deg);
  z-index: -1;
}
@media (max-width: 760px) {
  #book:after {
    display: none;
  }
}
.carousel-indicators {
  display: none;
}
.carousel-inner {
  padding: 6vh 0;
}
.carousel-item {
  height: 100%;
}
.carousel-caption {
  bottom: auto;
  color: #000000;
  text-align: left;
}
#deskPlant1 {
  max-width: 248px;
  position: relative;
  bottom: 16vh;
  right: -33vw;
  z-index: 1;
}
@media (max-width: 1800px) {
  #deskPlant1 {
    display: none;
  }
}
#picture {
  position: relative;
  bottom: 21vh;
  right: -5vw;
  width: 27%;
}
@media (max-width: 992px) {
  #picture {
    display: none;
  }
}
#deskPlant2 {
  max-width: 266px;
  position: relative;
  bottom: 13vh;
  right: 1vw;
  z-index: 1;
}
@media (max-width: 760px) {
  #deskPlant2 {
    display: none;
  }
}
#pictureFrame {
  background-color: #ebe7db;
  border: 11px solid #42342f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.75);
  display: block;
  position: relative;
  transform: perspective(100vh) rotateY(-32deg) rotateX(9deg);
}
#pictureFrame:after {
  content: '';
  background-color: #42342f;
  height: 100%;
  width: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate3d(3deg);
}
#pictureFrame img {
  border: 20px solid #ebe7db;
  border-radius: 24px;
  width: 100%;
}
