#projectsSection {
  background: linear-gradient(180deg, #040416 1%, rgba(4, 4, 58, 0.7) 34%, #03A9F4 100%);
  background-attachment: fixed;
  overflow: hidden;
}
#projectsWater {
  height: 11vh;
  width: 100%;
  position: relative;
  bottom: -20vh;
}
#boat {
  max-width: 550px;
  position: absolute;
  left: 29vw;
  z-index: 1;
}
#boat img {
  position: relative;
  bottom: -38vh;
  transform: rotate(-5deg) rotateX(61deg);
  width: 100%;
}
#sail {
  border-bottom: 46vh solid #efe8de;
  border-right: 18vw solid transparent;
  border-radius: 5px;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 130px;
  z-index: 1;
}
#sail:before {
  content: '';
  background-color: #541313;
  border-top: 5px solid #646464;
  border-radius: 4px;
  display: block;
  height: 50vh;
  width: 10px;
  z-index: 1;
}
#sail:after {
  content: '';
  background-color: #541313;
  border-radius: 3px;
  height: 5px;
  width: 18vw;
  position: absolute;
  top: 46vh;
}
#sailText {
  font-family: 'Beth Ellen';
  font-size: 2.5vw;
  line-height: 1.3;
  transform-origin: left;
  position: absolute;
  top: 30vh;
  left: 155px;
  z-index: 2;
}
#sailText > span {
  display: block;
}
#sailText > span:nth-child(2) {
  font-size: 1.25vw;
  line-height: 2;
  position: absolute;
}
#sailText > span:last-child {
  padding-left: 4vw;
}
