#projectsSection {
    background: linear-gradient(180deg, #000006 20%, rgb(4 4 58 / 70%) 60%, transparent 100%);
    background-attachment: fixed;
    overflow: hidden;
}

#projectsWater {
    height: 11vh; width: 100%;
    position: relative; bottom: -20vh;
  }