#introSection {
  background: linear-gradient(to bottom, #108DC5, #ef8e38 62%, #0a5b81);
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#sun {
  background: radial-gradient(circle, #efb938 33%, #ef8e38 100%);
  border: 1px solid #ffbc59;
  border-radius: 50%;
  box-shadow: 0 0 40px #ffbc59;
  filter: blur(2px);
  height: 280px;
  width: 280px;
  position: absolute;
  top: 42%;
  right: 28vw;
}
.mountain {
  background: url('../img/Pngtree-mountain-landscape_8807747.png') repeat-x;
  position: absolute;
  width: 200%;
}
#mountain1 {
  background-size: auto 38%;
  filter: invert(1) hue-rotate(8deg) drop-shadow(0px -1px 0px #e2e9eb) drop-shadow(2px 4px 6px #000000) brightness(0.6);
  bottom: 6vh;
  height: 36vh;
}
#mountain2 {
  background-size: auto 89%;
  bottom: 17vh;
  left: -53%;
  filter: invert(1) hue-rotate(102deg) drop-shadow(0px -1px 0px #e2e9eb) drop-shadow(2px 4px 6px #000000) brightness(0.95);
  height: 28vh;
}
#mountain3 {
  bottom: 0;
  left: -37%;
  filter: invert(1) hue-rotate(180deg) drop-shadow(0px -1px 0px #e2e9eb) drop-shadow(0px -2px 4px rgba(30, 28, 26, 0.75)) brightness(0.75);
  height: 20vw;
}
