@import './../global-variables.less';

#introSection {
    background: linear-gradient(to bottom, #108DC5, #ef8e38 62%, #0a5b81);
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#sun {
    background: radial-gradient(circle, rgba(239,185,56,1) 33%, rgba(239,142,56,1) 100%);
    border: 1px solid #ffbc59;
    border-radius: 50%;
    box-shadow: 0 0 40px #ffbc59;
    filter: blur(2px);
    height: 280px; width: 280px;
    position: absolute; top: 42%; right: 28vw;
}

h1 {
    -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: url('./../img/pexels-pixabay-46160.jpeg');
	background-size: auto 100%;
	background-attachment: unset;
	background-position: 0%;
    filter: drop-shadow(1px 2px rgba(10, 12, 15, 0.9));
    font-family: 'Beth Ellen', sans-serif;
    font-size: 26vw;
    margin-left: -8vw;
    position: relative; top: -19vh;
    text-align: center;
    @media(min-width: @screen-sm) {
        font-size: 13vw;
        margin-left: 0;
        padding-left: 5vw;
        text-align: left;
        top: -11vh;
    }
    >span {
        display: block;
        line-height: 1.3;
        &:last-child {
            font-size: 14vw;
            margin-top: -3vw;
            padding-left: 11vw;
            @media(min-width: @screen-sm) {
                font-size: 8vw;
            }
        }
    }
}

#h1LetterA {
    font-weight: 700;
    letter-spacing: -5vw;
    @media(min-width: @screen-sm) { letter-spacing: -3vw; }
}

#h2 {
    font-family: 'Beth Ellen', sans-serif;
    position: absolute; top: 40vh; right: 18vw;
    span {
        display: block;
        text-align: right;
    }
}

h2>span:before {
    content: '';
    background-size: cover;
    height: 150%; width: 150%;
    position: absolute;
    z-index: -1;
}

h2>span:first-child:before { background-image: url('./../img/watercolor-cloud-1.png'); }
h2>span:last-child:before { background-image: url('./../img/watercolor-cloud-2.png'); }

.mountain {
    background: url('./../img/Pngtree-mountain-landscape_8807747.png') repeat-x;
    position: absolute;
    width: 200%;
}

#mountain1 {
    background-size: auto 38%;
    filter: invert(1) hue-rotate(8deg) drop-shadow(0px -1px 0px #e2e9eb) drop-shadow(2px 4px 6px #000000) brightness(0.6);
    bottom: 5vh;
    height: 36vh;
}

#mountain2 {
    background-size: auto 89%;
    bottom: 17vh; left: -53%;
    filter: invert(1) hue-rotate(102deg) drop-shadow(0px -1px 0px #e2e9eb) drop-shadow(2px 4px 6px #000000) brightness(0.95);
    height: 28vh;
}

#movingWater {
    position: absolute; bottom: 6vh;
    height: 8vh; width: 100%;
}

#mountain3 {
    bottom: 0; left: -37%;
    filter: invert(1) hue-rotate(180deg) drop-shadow(0px -1px 0px #e2e9eb) drop-shadow(0px -2px 4px rgba(30, 28, 26, 0.75)) brightness(0.75);
    height: 20vw;
}